header {
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  background-color: var(--secondary-background-color);
  color: var(--secondary-font-color);
  width: 100%;
  height: var(--header-height);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 720px;
  padding: 0 1rem;
}

.title {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--accent-color);
  font-weight: 600;
  font-style: italic;
}

.burger-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--secondary-background-color);
  width: 2rem;
  height: 1.5rem;
  border: none;
  padding: 0.3rem 0.2rem;
  cursor: pointer;

  span {
    width: 100%;
    height: 0.2rem;
    background-color: var(--secondary-font-color);
  }

  &:hover {
    padding: 0.25rem 0.2rem;
  }
}

.burger-menu {
  position: fixed;
  top: var(--header-height);
  right: 0;
  color: var(--secondary-font-color);
  width: 100%;
  height: 100%;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--secondary-background-color);
    width: 100%;
    height: 100%;
  }

  nav {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
    padding: 1rem;

    a {
      display: block;
      width: 100%;
      color: var(--secondary-font-color);
      border-bottom: 1px solid var(--secondary-font-color);
      padding: 0.5rem 0;
      text-align: center;
    }
  }
}

.desktop-navbar {
  display: none;
  column-gap: 2rem;
}

@media screen and (min-width: 720px) {
  .desktop-navbar {
    display: flex;
  }

  .burger-button {
    display: none;
  }
}
