<header>
  <div class="content">
    <a class="title" href="/">Träning</a>
    <nav class="desktop-navbar">
      <a href="/workouts">Träningspass</a>
      <a href="/exercises">Övningar</a>
    </nav>
    <button class="burger-button" (click)="toggleBurgerMenu()">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <div class="burger-menu" *ngIf="isBurgerMenuOpen">
    <div class="background"></div>
    <nav>
      <a href="/workouts" (click)="toggleBurgerMenu()">Träningspass</a>
      <a href="/exercises" (click)="toggleBurgerMenu()">Övningar</a>
    </nav>
  </div>
</header>
