<div class="wrapper">
  <h1>Övningar</h1>

  <div class="tabs">
    <button (click)="onSelectTab(categoryName.Legs)">Ben</button>
    <button (click)="onSelectTab(categoryName.Arms)">Armar</button>
    <button (click)="onSelectTab(categoryName.Abdominal)">Mage</button>
    <button (click)="onSelectTab(categoryName.AllRound)">Allround</button>
  </div>

  <ul class="category" [class.active]="activeTab === categoryName.Legs">
    <li *ngFor="let exercise of exercises.legs">
      {{ exercise.name }}
    </li>
  </ul>

  <ul class="category" [class.active]="activeTab === categoryName.Arms">
    <li *ngFor="let exercise of exercises.arms">
      {{ exercise.name }}
    </li>
  </ul>

  <ul class="category" [class.active]="activeTab === categoryName.Abdominal">
    <li *ngFor="let exercise of exercises.abdominal">
      {{ exercise.name }}
    </li>
  </ul>

  <ul class="category" [class.active]="activeTab === categoryName.AllRound">
    <li *ngFor="let exercise of exercises.allRound">
      {{ exercise.name }}
    </li>
  </ul>
</div>
