.name {
  font-weight: 700;
}

.exercise {
  text-transform: capitalize;
}

.workout {
  padding: 0.5rem 0;

  ul {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding-left: 1rem;
  }
}
