<h1>Träningspass</h1>

<div class="workout" *ngFor="let workout of workouts">
  <span class="name">{{ workout.name }}</span>
  <ul>
    <li class="exercise" *ngFor="let exercise of workout.exercises">
      {{ exercise?.name }}
    </li>
  </ul>
</div>
