main {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-background-color);
  color: var(--primary-font-color);
  padding: 1rem;
  margin-top: var(--header-height);
}

.content {
  width: 100%;
  max-width: 720px;
  height: 100%;
}
