:root {
  --primary-background-color: #2a2a2a;
  --primary-font-color: #fff;

  --secondary-background-color: #fff;
  --secondary-font-color: #2a2a2a;

  --accent-color: #ef1617;
  --font-family: "Helvetica";

  --header-height: 4rem;
}

* {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: var(--font-family);
  background-color: var(--primary-background-color);
  color: var(--primary-font-color);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}
